@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* SWEET ALERT */

.confirm-button-class {
  background-color: #3D0000 !important;
  color: #ffffff !important;
  border-radius: 2rem !important;
}

.title-class {
  font-family: "Montserrat", sans-serif !important;
}

.custom-container {
  font-family: "Montserrat", sans-serif;
  font-weight: 500 !important;
}

/* FORMULARIO */

.btn-ingresar {
  background-color: #3D0000 !important;
  border-radius: 2rem !important;
  border: none !important;
}

.link-registro {
  color: #3D0000;
  font-weight: bold;
}

.form {
  font-family: "Montserrat", sans-serif !important;
  width: 100%;
  padding: 1.25rem;
}

.input-form:focus {
  outline: black solid .5px !important;
  box-shadow: #3D0000 1 1 !important;
  box-shadow: 0px 0px 10px 0px rgba(61, 0, 0, 0.5) !important;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(61, 0, 0, 0.5) !important;
  -moz-box-shadow: 0px 0px 10px 0px rgba(61, 0, 0, 0.5) !important;
}

.modal {
  font-family: "Montserrat", sans-serif !important;
}

.modal-body {
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

.text-email, .text-contraseña {
  font-weight: 500;
}

.mb-3 {
  text-align: start;
}