@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

/* HEADER */

header {
  width: 100%;
  padding: 0.25rem;
  background-color: #3D0000;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contenedor-burger {
  display: none;
}

/* LOGO */

.logo-tango {
  padding: 0.25rem;
  width: 5rem;
  transition: 200ms;
}

.logo-tango:hover {
  transform: scale(1.08);
  transition: 200ms;
}

/* LINKS */

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #a0a0a0;
  transition: all 400ms;
}

a:hover {
  color: #ffffff;
  transition: all 500ms;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

/* EFECTO LINKS */

.link-underline::after {
  content: "";
  height: 2px;
  width: 0;
  background-color: white;
  display: block;
  transition: all 400ms;
}

.link-underline:hover::after {
  width: 100%;
}

/* ICONOS*/

.login-icon {
  transition: all 0.2s;
}

.login-icon:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.burger-icon {
  width: 2.5rem;
  cursor: pointer;
}

/* RESPONSIVE */

@media screen and (max-width: 600px) {

  header {
    display: block;
  }

  .section-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .ul-list {
    display: none;
    animation: show 1.5s forwards;
  }

  .ul-list.active {
    display: block;
    text-align: center;
    padding: 0;
  }

  li {
    padding: 0.25rem;
  }

  .contenedor-burger {
    display: block;
  }
}

@keyframes show {
  0% {
    height: 0;
    opacity: 0;
  }
  50% {
    height: 170px;
  }
  100% {
    height: 170px;
    opacity: 1;
  }
}