* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0 !important;
}

.contenedor-404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.contenedor-404 h2 {
    color: black;
    font-weight: 550;
    user-select: none;
}

.image-container {
    width: 70%;
    max-width: 28rem;
    user-select: none;
}

.img-fluid {
    width: 100%;
    height: 100%
}

.text-center {
    margin-top: .3rem;
    user-select: none;
}

.text-center h1 {
    color: black;
    background-color: white;
}

.btnError {
    background-color: #FF0000 !important;
    border-color: transparent;
    color: white;
    margin-top: 2.5px;
}

.btn:hover {
    border-color: #950101;
}
