@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body{
    background-color: #fad9d8;
}
.seccion{
    width: 100%;
    min-height: 100%;
}
.contenedor{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}
.contenido-seccion{
    float: left;
    width: 55%;
}
.img-nosotros{
    float: right;
    width: 40%;
}
.img-nosotros img{
    width: 100%;
    height: auto;
    margin-top: 25%;
}
.contenido-seccion .titulo{
    text-transform: uppercase;
    font-size: 35px;
    font-weight: bold;
    color: black;
}
.contenido-nosotros h3{
    margin-top: 20px;
    color: #5d5d5d;
    font-size: 20px;
}
.contenido-nosotros p{
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.5;
}
@media screen and (max-width: 768px) {
    .contenedor{
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
    }
    .contenido-seccion{
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }
    .img-nosotros{
        float: none;
        width: 100%;
    }
    .img-nosotros img{
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
    }
    .contenido-nosotros .titulo{
        text-align: center;
        font-size: 21px;
    }
}
