.divFecha{
    display: flex;
    justify-content: center;
    justify-items: center;
    border-style: groove;
     border-radius : 100px;
     border-width: 1px;
     width: 100px;
     height: 130px;
    margin : 30px 5px 5px 5px;
}
.inputPicker input{
  width: 80px;
  height: 30px;
  text-align: center;
  border-radius: 30px;
 
  }
 
 
  .inputPicker input:hover{
    background-color: rgba(255, 255, 255, 0.466);
  }

.inputPicker{
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
 
  width: 10px;
}
.divPicker{
  display: flex;
  justify-content: center;
 
}
/* Estilo personalizado para el input de react-datepicker */
  .divPicker input{
    width: 200px;
    border-radius: 30px;
    border-style: hidden;
   text-align: center;
    position:  static;
  }
  .divPicker input:hover{
   background-color: rgba(255, 255, 255, 0.712);
  }
  
 .divFecha:hover{
    background-color: rgba(240, 248, 255, 0.329);
 }

 .divElements{
 width: 100%;
 justify-content: center;
  display: flex;
    
 height: 200px;
   margin-top: 10px;
 
 }

 @media screen  and (max-width: 1024px){
  .divElements{
  flex-wrap: wrap;
    overflow-x: auto;
  }
   /* Ancho del scrollbar */
::-webkit-scrollbar {

height: 3px;
}

/* Estilo del thumb (el "botón" del scrollbar que puedes arrastrar) */
::-webkit-scrollbar-thumb {
background-color: #dfdfdfa8; /* Color de fondo del thumb */
border-radius: 5px; /* Radio de borde del thumb */
}

/* Estilo de la pista (el área detrás del thumb) */
::-webkit-scrollbar-track {
background-color: #00000000; /* Color de fondo de la pista */
}
}
@media screen  and (max-width: 765px){
      .divElements{
    
        flex-wrap: wrap;
        overflow-x:   auto;
        padding: 10px;
        padding-bottom: 20px;        
      }
      .divFecha{
        width: 90px;
      }
      .divPicker{
        margin-top: 5px;
      }
     
      .divOtherDate h3{
        font-size:20px;
        
      }
      .divOtherDate  input{
        
        width: 190px;
      }
       
      .h2Date{
        margin-bottom: 230px;
      }
      
}