 
.section-container-der {
    margin: 3.5rem 1.5rem;
    background-color: #3D0000;
    color: white;
    border: 1px solid rgba(128, 128, 128, 0.3); 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  
    transition: transform 0.3s ease, box-shadow 0.3s ease;  
}

.section-container-der:hover {
    transform: scale(1.01);  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
}

.section-container-der .image-container {
    border-radius: 8px;  
}
