h2 {
    margin-bottom: 20px; /* espacio entre el título y el botón */
    color: whitesmoke;
} 

h5{
    margin-bottom: 10px; /* espacio entre el título y el botón */
    color: whitesmoke;
}

.banner {
    background-image: linear-gradient(to top, rgba(24, 24, 24, 0.7), rgba(50, 50, 50, 0.4)), url("https://images.unsplash.com/photo-1514933651103-005eec06c04b?q=80&w=2874&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    height: 100vh; /* Banner ocupa el 80% de la altura de la ventana */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2.5rem;
}


.btn {
    background-color: #FF0000 !important;
    border-color: transparent;
    color: white;
}

.btn:hover {
    border-color: #950101;
}


/* Media queries para ajustar la altura del banner según el tamaño de la pantalla */
/* @media screen and (min-width: 768px) {
    .banner {
        height: 70vh; /
    }
}

@media screen and (min-width: 1024px) {
    .banner {
        height: 80vh; 
    }
} */