*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

.titulo{
    background-color: #950101;
    color: white;
    text-align: center;
    
}

.imgTitulo{
    background-color: aqua;
}

#divTitulo{
    height: 100%;
    
}



.imgTitulo img{
    width: 100%;
    object-fit: cover;
}

@media (max-width: 990px) {
    #divTitulo{
        flex-direction: column;
    }
}

