*{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #fad9d8;
}



    .tituloContenedor{
        height: 100vh;
    }

    #tituloIzq, h1{
        background-color: #950101;
        color: white;
    }

    .tituloContenedor img{
        object-fit: cover;
        max-width: 100%;
        height: 100%;
        
    }

    @media (max-width: 767px) {
        .tituloContenedor img{
            height: 50vh;
            width: 100%;
        }
    }
